@import "tailwindcss";

/* body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
} */
